<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{document.meta.title}}</title>
</head>
<body>
    {{#if document.meta.image}}
    <img src="../public/{{get 'link' (resource document.meta.image)}}">
    <img src="../public/{{asset 'small-image' (get 'name' (resource document.meta.image)) 'webp'}}">
    {{/if}}
    {{#if document.meta.video}}
    <video controls>
        <source src="../public/{{get 'link' (resource document.meta.video)}}" type="video/mp4">
    </video>
    <video controls>
        <source src="../public/{{asset 'small-video' (get 'name' (resource document.meta.video)) 'mp4'}}" type="video/mp4">
    </video>
    {{/if}}
</body>
</html>
